<!--<ons-page class="center">
    <ons-navigator-toolbar title="test"  right-button-icon="fa fa-lg fa-angle-right"
                           on-right-button-click="ons.navigator.pushPage('templates/page2.html')">
    </ons-navigator-toolbar>
</ons-page>
-->
<ons-page>
  <ons-toolbar>
    <div class="center">Buttons</div>
  </ons-toolbar>

  <div style="text-align: center" class="content-padded">

    <ons-button>Normal</ons-button>
    <ons-button modifier="light">Light</ons-button>
    <ons-button modifier="cta">CTA</ons-button>
    <ons-button modifier="quiet">Quiet</ons-button>

    <br><br>

    <ons-button modifier="large">large</ons-button>

    <br>

    <ons-button modifier="large--cta">large--cta</ons-button>

    <br>

    <ons-button modifier="large--quiet">large--quiet</ons-button>

    <br>

    <ons-button disabled="true">Disabled</ons-button>

  </div>
</ons-page>