<ons-page ng-controller="ScheduleController" modifier="time">
  <ons-toolbar modifier="darkToolbar">
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Request</div>
    <div class="right">
      <ons-button modifier="quiet cancel" ng-click="cancelRequest()"><i class="hi hi-close"></i></ons-button>
    </div>
  </ons-toolbar>
  <ons-row>
    <ons-col modifier="progress">
    </ons-col>
    <ons-col modifier="progress">
    </ons-col>
    <ons-col modifier="progress">
    </ons-col>
      <ons-col>
    </ons-col>
    <ons-col>
    </ons-col>
    <ons-col>
    </ons-col>
  </ons-row>
  <div class="main-page-content">
    <h3>When</h3>
    <div class = "textInputDiv">
      <input type="text" ng-model="data.dateParam" class="text-input" placeholder="mm/dd/yyyy" value="" ng-enter="submit()" auto-focus>
      <button><i class="fa fa-calendar-o"></i></button>
    </div>
    
    <div class="hint-text">
    <p>What date do you want to be serviced or when is your deadline? </p>
    </div>
    
    <br/>
    <div class = "textInputDiv">
      <input type="text" ng-model="data.timeParam" class="text-input" placeholder="12:00 pm" value="" ng-enter="submit()">
      <button ng-click="submit()"><i class="fa fa-clock-o"></i></button>
    </div>
    
    <div class="hint-text">
    <p>Around what time do you want to be serviced? If you are flexible, leave this blank. </p>
    </div>

    <div class="submitButtonContainer">
      <ons-button ng-click="submit()" modifier="large">Next</ons-button>
    </div>
  </div>
</ons-page>